# Add the content in /etc/systemd/system/server_rest.service

[Unit]
Description=Home Server Rest Containers
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/home-server

ExecStart=/usr/bin/podman compose up -d rest
ExecStop=/usr/bin/podman compose down
ExecReload=/usr/bin/podman compose up -d rest

TimeoutStartSec=300

[Install]
WantedBy=multi-user.target